form div {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 40px;
}
input {
    width: 100px;
    margin-left: 500px;
    margin-top: 10px;
}
label {
    text-align: left;
}